{% extends 'base.html' %}
{% from 'macros/pagination.html' import render_pagination %}
{% block title %}Dashboard - Crypto Dashboard{% endblock %}

{% block content %}

<h1>My Crypto Assets</h1>

<form method = 'post' action="{{ url_for('dashboard.search')}}">
    <input type="text" name="query" placeholder="Search cryptocurrencies">
    <button type="submit">Search</button>
</form>

{% if pagination.items %} 
<table>
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Symbol
            </th>
            <th>
                Price
            </th>
            <th>
                Remove
            </th>
        </tr>
    </thead>
    <tbody>
        {% for asset in assets %}
        <tr>
            <td>
                {{ asset.name }}
            </td>
            <td>
                {{ asset.symbol }}
            </td>
            <td>
                {{ asset.current_price }}
            </td>
            <td>
                <form method='POST' action="{{ url_for('dashboard.remove_asset', asset_id=asset.id)}}"
                    onsubmit="return confirm('Are you sure you want to remove {{ asset.name }}?');">
                    <button type="submit">Remove</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{{ render_pagination(pagination, 'dashboard.dashboard') }}
{% else %}
<h2>You haven't added any assets</h2>
{% endif %}
{% endblock %}